body {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr  1.5fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 8fr;
    grid-template-areas: "header header header header header"". demo demo demo . " "info1 info1 svg info2 info2" "txt txt txt txt txt";
}


body{
    background-color: rgb(242, 242, 242)
}

#logo {
    grid-area: logo;
    background-color:#fff;
}
#navigation>img{
    width: 80px;
    float: left;
    
}
#navigation {
    grid-area: header;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    background-color:#fff;
}

#info1 {
    grid-area: info1;
}

#svg {
    grid-area: svg;
}

#info2 {
    grid-area: info2;
}

#texteditor {
    grid-area: txt;
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas: ". bt ." ". text .";
}

#button {
    grid-area: bt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form {
    grid-area: text;
}

#textarea {
    width: 100%;
    height: 100%;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 5px 0;
}

nav>ul>li {
    margin: 0 3px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: black;
    font-size: small;
}

.sizebutton {
    margin: 0 1px;
    font-size: small;
    background-color: #009ac9;
    border: none;
    color: #ffffff;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    line-height: 25px;
    padding: 0px 6px;
    cursor: pointer;
}

#big {
    border-radius: 30% 0 0 30%;
}

#small {
    border-radius: 0 30% 30% 0;
}

#button>label {
    position: relative;
    right: 5px;
    font-style: italic;
    color: #009ac9;
    line-height: 49px;
}

.sizebutton:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #02b6ec;
}

line.forceLine {
    stroke: #444;
    stroke-width: 2;
}

.forceCircle {
    cursor: pointer;
}
#demo{
    grid-area: demo;
    position: sticky;
    top:0;
    background-color: rgba(220,220,220,0.5);
}
#demo>ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
#demo>ul>li{
    margin: 0 5px;
}
#demo>button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0 1px;
    font-size: small;
    background-color: #009ac9;
    border: none;
    color: #ffffff;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    line-height: 25px;
    padding: 0px 6px;
    cursor: pointer;
    border-radius: 5px;
}
#demo>button:hover{
    background-color: #ffffff;
    color: #009ac9;
    border-color: #02b6ec;
}