<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title>Document</title>
    <link rel="stylesheet" href="css/log.css"></link>
</head>

<body>
    <div class="main">
        <h1>专利</h1>
        <h3>登入发现</h3>
        <form action="/register" method="post" name="login">
            <div class="form" id="email">
                <input type="text" name="email" placeholder="邮箱" ></input>
            </div>
            <hr></hr>
            <div class="form" id="phone">
                <input type="text" name="userphone" placeholder="手机号" ></input>
            </div>
            <hr></hr>
            <div class="form" id="username">
                <input type="text" name="username" placeholder="用户名" ></input>
            </div>
            <hr></hr>
            <div class="form " id="password">
                <input type="password" name="password" placeholder="密码" ></input>
            </div>
            <div class="submit">
                <button type="submit" >注册</button>
            </div>
        </form>
        <p style="color:gray;font-size:20px;font-weight:400;padding-bottom:30px;">
            神头鬼脸杜兰特，emmm
        </p>
    </div>
    <script type="text/javascript" src="js/logupvery.js" ></script>
</body>

</html>