<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/write.css"></link>
    <script>
    </script>
</head>

<body>
   
       
   
    <nav id="navigation">
         <img src="http://js.jirengu.com/images/dave.min.svg" title="demo" alt="This is a logo"></img>
        <ul>
            <li>
                <a href="#">主页</a>
            </li>
            <li>
                <a href="login.html">登录</a>
            </li>
            <li>
                <a href="#">注册</a>
            </li>
        </ul>
    </nav>
    <div id="demo">
            <button>提交</button>
         </div>
    <div id="info1">
        <p></p>
    </div>
    <div id="svg">

    </div>
    <div id="info2">
        <p>

        </p>
    </div>
    <div id="texteditor">
        <div id="button">
            <label>font-size</label>
            <button class="sizebutton" id="big">大</button>
            <button class="sizebutton" id="medium">中</button>
            <button class="sizebutton" id="small">小</button>
        </div>
        <form method="post" name="text"> 
            <textarea id="textarea" name="text" cols="30" rows="20" style="overflow:hidden; resize:none;"></textarea>
        </form>

    </div>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="js/write.js"></script>
</body>

</html>